@use "../../../styles/variables" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: $radius-md;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-family: $font-main;
  transition: all $transition-fast;

  &--icon {
    padding: 0.4rem;
    justify-content: center;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__text {
    display: inline-flex;
  }

  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-primary {
    background: $primary;
    color: white;
  }

  &.btn-secondary {
    background: $secondary;
    color: $text-main;
  }

  &.btn-outline {
    background: transparent;
    border: 2px solid $primary;
    color: $primary;
  }

  &.btn-danger {
    background: #ff4c4c;
    color: #fff;
  }

  &.btn--ghost {
    color: $text-main;
    font-size: 24px;
  }
}


