
@use '../../../styles/variables' as *;
@use '../../../styles/animations';

.card {
  display: flex;
  justify-content: center;

  &__content {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    border-radius: $radius-lg;
    padding: 3rem 2.5rem;
    max-width: 800px;
    width: 100%;
    text-align: center;
    box-shadow: $shadow-soft;
    z-index: 2;
    position: relative;
  }

  &__header {
    display: grid;
    grid-template-columns: 80px auto 80px;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 900;
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 1s ease forwards;
  }
}