@use '../../../styles/variables' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: $shadow-soft;

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    cursor: pointer;
    padding: 4px;


  &-text {
    color: $primary;
    font-weight: 900;
    font-size: 1.8rem;
  }



    .logo-svg {
      width: 40px;
      height: 40px;
    }

  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      position: relative;
      padding: 8px;
      text-decoration: none;
      color: $primary;
      font-weight: 700;
      transition: color $transition-fast;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $secondary;
        transition: width $transition-fast;
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }

      &:hover,
      &.active {
        color: $secondary;
      }
    }
  }
}
