@use '../../styles/variables' as *;
@use '../../styles/animations';

.about {
  &__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $accent;
  }

  &__text {
    font-size: 1.1rem;
    color: $text-main;
    line-height: 1.6;
  }
}
