@use "../variables" as *;
@use "../animations";

.details__topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-details-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0 1rem;

  .details__wide {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    max-height: 250px;

    .details__image {
      flex: 1;
      max-width: 400px;
      border-radius: 16px;
      overflow: hidden;
      box-shadow: $shadow-soft;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .details__ingredients {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h2 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        max-height: 280px;
        overflow-y: auto;
        padding-right: 0.5rem;

        li {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          padding: 0.3rem 0;

          &:last-child {
            border-bottom: none;
          }

          span:first-child {
            font-weight: 500;
          }

          span:last-child {
            opacity: 0.8;
            white-space: nowrap;
          }
        }
      }

      ul::-webkit-scrollbar {
        width: 6px;
      }

      ul::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
      }

      ul::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  }

  .details__instructions {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;


    h2 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    p {
      line-height: 1.5;
      margin: 0;
      text-align: justify;
    }
  }

  .details__meta {
    max-width: 900px;
    margin: 0 auto;
    font-weight: 600;
    display: flex;
    //flex-direction: column;
  }

  @media (max-width: 800px) {
    .details__wide {
      flex-direction: column;
      gap: 1rem;

      .details__image,
      .details__ingredients {
        max-width: 100%;
      }
    }
  }
}

