name: App Deployment
on:
  push:
    branches:
      - main
jobs:
  frontend-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Build Frontend
        working-directory: frontend
        run: |
          npm install
          npm run build

      - name: Upload Frontend-Build
        uses: actions/upload-artifact@v4
        with:
          name: 'frontend-artifact'
          path: 'frontend/dist/*'

  backend-build:
    needs: frontend-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Download Frontend-Build
        uses: actions/download-artifact@v4
        with:
          name: 'frontend-artifact'
          path: 'backend/src/main/resources/static'

      - name: Build Backend with Maven
        run: mvn -B package --file backend/pom.xml

      - name: Upload Backend-Build
        uses: actions/upload-artifact@v4
        with:
          name: 'backend-artifact'
          path: 'backend/target/app.jar'

  push-to-docker-hub:
    needs: backend-build
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Download Backend-Build
          uses: actions/download-artifact@v4
          with:
            name: 'backend-artifact'
            path: 'backend/target'

        - name: Login to Dockerhub
          uses: docker/login-action@v3
          with:
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_PASSWORD}}

        - name: Build und push Backend Image
          uses: docker/build-push-action@v5
          with:
            context: '.'
            push: 'true'
            tags: ${{secrets.DOCKERHUB_TAG}}

  deploy-to-render:
    needs: push-to-docker-hub
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render Deployment
        run: |
          curl -X POST  ${{secrets.RENDER_DEPLOY_HOOK}}
